// *--------- SIDEBAR ---------*
.app-sidebar {
    width: 100px;
    background: #ff6e6e;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 100%;
    position: fixed;
    z-index: 2;
}


    .app-logo {
        width: 100px;
        margin: 30px 0;

        img {
            display: block;
            margin: 0 auto;
            width: 45px;
        }
    }

    .app-sidebar-sep {
        font-size: 30px;
        text-align: center;
        color: $sidebarNavColor;
    }

    .app-sidebar-nav {

        a {
            display: block;
            padding: 20px 0 25px 0;
            margin: 15px 0;
            position: relative;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            color: #fff7f8;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, .35);

            @extend %transitionAll;

            &:before {
                content: "";
                width: 5px;
                height: 100%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: black;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;

                @extend %transitionAll;
            }

            .fa {
                display: block;
                margin-bottom: 10px;
                font-size: 35px;

                @extend %transitionAll;
            }

            // ACTIVE
            &.active,
            &:hover {
                color: black;

                &:before {
                    visibility: visible;
                    opacity: 1;
                }

                .fa {
                    color: black;
                }
            }

            // LAST
            &:last-child {

                .fa {
                    font-size: 35px;
                }
            }
        }
    }

@media screen and (max-width: 900px) {
        .app-sidebar{
            min-height: auto;
            position: fixed;
            z-index: 999;
            width: 100%;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            height: 75px;
            
            .app-logo{
                margin: 15px 0px;
            }
            
            .app-sidebar-nav{
                display: flex;
                flex-direction: row;
                position: absolute;
                top: 0px;
                right: 0px;
                height: 75px;
                align-items: flex-end;
                

                a{
                    margin: 0px;
                    padding: 0px;
                    margin-bottom: 11px;
                    margin-right: 25px;

                    .fa {
                        margin: 0px;
                    }
                }

                a::before{
                    display: none;
                }
            }
    
        }
        .app-main{
            margin: 0px;

            .app-content-wrapper{

                .app-content{

                    .action-element{

                        margin: 0px;
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex;
                        flex-direction: column;
                    }
                }

                .app-search{
                    width: 100%;
                }
            }
        }
        .app-header{
           display: none;
        }
}